## Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
LiveTV.xcodeproj/project.xcworkspace/xcuserdata/md.asiuzzaman.xcuserdatad/
LiveTV.xcodeproj/project.xcworkspace/xcuserdata/md.asiuzzaman.xcuserdatad/UserInterfaceState.xcuserstate
UserInterfaceState.xcuserstate

## Build products
build/
DerivedData/

## Swift Package Manager
.build/
Packages/

## CocoaPods
Pods/

## Carthage
Carthage/Build/

## fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Misc
.DS_Store
*.swp
*.orig
